.sidebar {
  text-align: center;
  color: #ffffff;
  padding: 24px;
}

.container {
  position: relative;
  height: 100%;
}

.reloadButton {
  margin-bottom: 24px;
}

.inputRow {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 16px;
  text-align: left;
}
